*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container, .main{
    display: grid;
    row-gap: 50px;
    overflow-x: hidden;
}

/* body{
    background-color: rgba(225, 225, 225,0.2);
} */

header{
  display: flex;
  flex-direction: column;
    background-image: url(img/bg-img.png);
    background-size: cover;
    background-position: 100%;
    height: 125vh;
    
}

nav{
    display: grid;
    width: 100vw;
    grid-template-columns: .5fr 2.5fr;
    padding: 10px 50px;
    justify-content: center;
    /* background-color: orange; */
    position: fixed;
    z-index: 999;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Mengatur tingkat blur */
    background: rgba(255, 255, 255, 0.3); /* Warna latar belakang kaca dengan opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan untuk memberikan efek kaca */

}

nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: #4CAF50; */
    justify-content: space-evenly;
    
    list-style: none;
}


nav ul li a{    
    text-decoration: none;
    color: black;
    display: block;
    /* background-color: aqua; */
    /* width: 100%; */
    padding: 10px;
    border-radius: 15px;

}

nav ul li a:hover{
    transition: all .5s;
    background-color: orange;
    color: white;
}

nav span.hamburgermenu, .closemenu{
  display: none;
}

.left-side-header{
    height: 100vh;
    background-size: cover;
    padding: 100px;
    margin-top: auto;
}

.left-side-header h1, .left-side-header p{
    margin-bottom: 20px;
}

.information{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 20px 50px;
    margin: 50px;
}

.info{
    background-color: rgba(194, 194, 194, 0.2);
    /* background-color: aqua; */
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

.time:hover,.location:hover,.whatsaap:hover{
  transform: scale(0.95);
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}

.button-order a{
    display: block;
    text-decoration: none;
    color: white;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: orange;
}

.about-food {
  display: flex;
}

.food {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background-size: cover;
  /* padding-right: 50px; */
  /* padding: 20px; */
  box-sizing: border-box;
}


.food h1, .food p {
  margin: 0;


}

.about-gadogado {
  background-image: url('img/bg-about1.png');
}

.about-ketoprak {
  background-image: url('img/bg-about2.png');
}

.about-karedok {
  background-image: url('img/bg-about3.png');
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: -20px auto;
}

.button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover{
  transform: scale(1.2);
  background-color: orange;
  color:white;
}

.about-gadogado{
    background-image: url(img/bg-about1.png);
}

.about-ketoprak{
    background-image: url(img/bg-about2.png);
}

.about-karedok{
    background-image: url(img/bg-about3.png);
}

.food article{
  width: 40%;
  /* background-color: 
  #4CAF50; */
  text-align: center;
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto;
}

.button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.about-food{
  margin-bottom: -100px;
}

.food-menu-order{
  margin-top: 100px;
}
.food-menu-order .heading-order {
    text-align: center;
    margin: 30px 0;
  }
  .menues {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }

  .menues .menu {
    justify-self: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(140, 140, 140, 0.2);
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.2s;
  }

  .menu:hover {
    transform: scale(0.95);
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
  }

  .menu img {
    border-radius: 20px;
  }

  footer{
    background-image: url(img/bg-img-footer.png);
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 0 50px;
  }


  .services{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .services .left-side-footer img{
    width: 35px;
    height: 36px;
    margin-right:10px ;
  }

  .contact-us{
    display: flex;
  }


  .contact-us span{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: aqua; */
}
  .contact-us section:nth-child(1) a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    /* background-color: aqua; */
}

  .contact-us span a{
    color:black;
    text-decoration: none;
  }

  @media screen and (max-width: 1000px) {
    .about-food h1, .about-food p{
      padding: 10px;
      backdrop-filter: blur(25px); /* Mengatur tingkat blur */
      background: rgba(255, 255, 255, 0.3); /* Warna latar belakang kaca dengan opacity */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan untuk memberikan efek kaca */
    }
  }

@media screen and (max-width : 850px) {
  h1, h2{
    font-size: 1.5em;
  }

  header{
    height: 100vh;
  }

  .left-side-header{
    width: 80%;
    height: auto;
    padding: 50px;
    margin: 150px auto;
    backdrop-filter: blur(10px); /* Mengatur tingkat blur */
    background: rgba(255, 255, 255, 0.3); /* Warna latar belakang kaca dengan opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  }


 .food {
  /* align-items: end; */
  align-items: center;
 }
 

 .menu img{
  width: 50px;
  height:50px;
 }

 .about-gadogado, .about-ketoprak, .about-karedok{
  background-position: -150px;

 }

 .food article{
  width: 60%;
  /* background-color: 
  #4CAF50; */
  text-align: center;
  margin: 0 35px;

}


}

@media screen  and (max-width :700px){

  
  h1, h2{
    font-size: 1.3em;
  }

  nav ul{
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(img/bg-img.png);
    background-size: cover;
    background-position: 500px;
    z-index: 1;
    transform: translatex(-100%);
    transition: all 1s;
  }

  nav ul li{
    padding: 5px;
    border-radius: 10px;
    backdrop-filter: blur(20px); /* Mengatur tingkat blur */
    background: rgba(255, 255, 255, 0.3); /* Warna latar belakang kaca dengan opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  nav ul.slide {
    transform: translatex(0);
    width: 70%;
    transition: all 1s;
    backdrop-filter: blur(10px);
    box-shadow: 200px 0 100px rgba(0, 0, 0, 0.5);
  }

  nav ul.close{
    transform: translatex(-100%);
  }
  
  nav span.hamburgermenu{
    align-self: center;
    justify-self: end;
    display: block;
    cursor: pointer;
    /* position: fixed; */
  }

  nav span.closemenu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  

  .info{
    font-size: .8em;
  }


  

  .food article{
  width: 60%;
  /* background-color: 
  #4CAF50; */
  text-align: justify;
  }

  .about-gadogado, .about-ketoprak, .about-karedok{
    background-position: -250px;
  
   }


  
}

@media screen and (max-width: 500px){
  header{
    background-image: url(img/bg-img.png);
    background-size: cover;
    background-position: 80%;
    height: 100vh;
    
}
  h1,h2{
    font-size: .8em
  }

  p{
    font-size: .7em;
  }



  .about-food  p, .about-food h1 {
    padding: 10px;
    backdrop-filter: blur(25px); /* Mengatur tingkat blur */
    background: rgba(255, 255, 255, 0.3); /* Warna latar belakang kaca dengan opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan untuk memberikan efek kaca */
  }

  .food article{
    width: 80%;
    /* background-color: 
    #4CAF50; */
    text-align: justify;
    }

  .left-side-header{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 30vh auto;
    backdrop-filter: blur(10px); /* Mengatur tingkat blur */
    background: rgba(255, 255, 255, 0.3); /* Warna latar belakang kaca dengan opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  }

}



